{% block content %}
<!DOCTYPE html>

<html>
  <head>
    {{mymap.js}}
    <script src='https://www.google.com/recaptcha/api.js'></script>


    <!-- <title>Bootstrap Modal</title> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <style>
    .content {
      margin: 30px;
    }
    .pagination-page-info {
      padding: 0.6em;
      padding-left: 0;
      width: 40em;
      margin: 0.5em;
      margin-left: 0;
      font-size: 12px;
    }
    .pagination-page-info b {
      color: black;
      background: #6aa6ed;
      padding-left: 2px;
      padding: 0.1em 0.25em;
      font-size: 150%;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navigation ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          <a
            class="nav-item nav-link"
            href="/"
            data-toggle="modal"
            data-target="#myModal"
            >Submit Info</a
          >
          <a class="nav-item nav-link" href="{{ url_for('do_search') }}"
            >Search Database</a
          >
          <a class="nav-item nav-link" href="{{url_for('static', filename='resources.html')}}">Resources</a>
        </div>
      </div>
    </nav>

    <div class="content">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}

        <div class="alert alert-danger" role="alert">
          <li>{{ message }}</li>
        </div>

        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <h1>Self-Reported Coronavirus Tracker</h1>
      <div>
      <p>* Please do not spam or maliciously attack this site, I am a college student and just wanted to help with Coronavirus effort. This site is coming out of my own pocket.</p>
      <p>Click on the location points to check the count for that city:</p>

      {{mymap.html}}
    </div>
      <!-- <div class="top-pad">
        <table class="table table-striped">
          <tr>
            <td>ID</td>
            <td>City</td>
            <td>State</td>
            <td>Age</td>
            <td>Symptoms</td>
            <td>Verified</td>
            <td>Tested</td>
            <td>In Contact</td>
          </tr>
          <tbody>
            {% for data in entries %}
            <tr>
              <td>{{data.id}}</td>
              <td>{{data.city}}</td>
              <td>{{data.state}}</td>
              <td>{{data.age}}</td>
              <td>{{data.symptoms}}</td>
              <td>{{data.ip_address}}</td>
              <td>{{data.tested}}</td>
              <td>{{data.in_contact}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> -->

    <div class=content>
    {{ pagination.info }}
    {{ pagination.links }}
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>
          <td>City</td>
          <td>State</td>
          <td>Age</td>
          <td>Symptoms</td>
          <td>Verified</td>
          <td>Tested</td>
          <td>In Contact</td>
          <td>Created</td>

        </tr>
      </thead>
      <tbody>
        {% for data in entries %}
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.city}}</td>
          <td>{{data.state}}</td>
          <td>{{data.age}}</td>
          <td>{{data.symptoms}}</td>
          <td>{{data.ip_address}}</td>
          <td>{{data.tested}}</td>
          <td>{{data.in_contact}}</td>
          <td>{{data.created_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }}
  </div>

    <!-- <button
      type="button"
      class="btn btn-primary btn-large"
      data-toggle="modal"
      data-target="#myModal"
    >
      Submit a post
    </button> -->

    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="purchaseLabel"
      aria-hidden="false"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Coronavirus Awareness Form</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form action="/" method="post" name="post">
              {{ form.hidden_tag() }} {{ form.csrf_token }}
              <div class="form-group">
                <label for="exampleFormControlInput1">City</label>
                {{form.city}}
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1"
                  >State (Abbreviation Only)</label
                >
                {{form.state}}
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Age</label>
                {{form.age}}
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Symptoms</label>
                {{form.symptoms}}
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1"
                  >Have you been tested for COVID-19?</label
                >
                {{form.tested}}
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1"
                  >Have you been in contact with someone who has
                  COVID-19?</label
                >
                {{form.in_contact}}
              </div>
              <div class="modal-footer">
                <!-- <div class="g-recaptcha" data-sitekey="GOOGLE_RECAPTCHA_SITE_KEY"></div> -->
                {{form.recaptcha}}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ form.errors }}
                </div>
                {%endif%}
                <!-- {{form.submit}} -->
                <button type="submit" class="btn btn-primary">Post</button>

                <!-- <input type="submit" value="Post!" /> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <div class="container">
  
</div> -->
{% endblock %}
