<!DOCTYPE html>

<html>
  <head>
    <!-- <title>Bootstrap Modal</title> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navigation ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{ url_for('index') }}"
            >Home</a
          >
          <a class="nav-item nav-link" href="{{ url_for('create_entry') }}"
            >Submit Info</a
          >
        </div>
      </div>
    </nav>

    <!-- <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li>
              <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
              <a class="navbar-brand" href="{{ url_for('create_entry') }}"
                >Submit Info</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <div class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      <br />
      {% endif %} {% endwith %} {% block container %}{% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  </body>
</html>
